@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue !</h1>
    <p class="h2">Bienvenue dans mon application Ticket Tool. Il s'agit de ma première application développée avec ce
        framework, et elle sera améliorée au fil du temps. Elle est disponible sur la page suivante : <a href="/ticket">ici</a>.
    </p>
</div>
